*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    
}

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}


[class *='col-'] {
    float: left;
    border: 1px solid black;
   
   
}

.wrapper{
    
    width:90%;
    height: auto;
    margin: auto;
    background-color:gray;
}

.header-height{height:200px;}
.menu-height{height:300px;}
.content-height{height:500px;}
.bigfooter-height{height:250px;}
.footer-height{height:100px;}
.content{
    height:300px;
    width:
}

.ul{
    border:none;
}

.border-top{
    border-top:none;
}
.border-bottom{
    border-bottom:none;
}
.border-left{
    border-left:none;
}
.border-right{
    border-right:none;
}

@keyframes banner{
    0%{background-image:url('./flowers/2.jpg');background-size:cover;height:300px;}
    25%{background-image:url('flowers/pexels-adonyi-gábor-1458377.jpg');background-size:cover;height:300px;}
    50%{background-image:url('flowers/pexels-qingnian-du-4048889.jpg');background-size:cover;height:300px;}
    75%{background-image:url('flowers/pexels-irina-iriser-1408221.jpg');background-size:cover;height:300px;}
}

.slider{
    animation-name:banner;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

